# vi swap files
*.swp
*.swo

# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Temporary files.
.tmp/

# Development tool configuration files
.eslintrc.json
.prettierrc
.projections.json

# Working directory
working/

# Distribution directory
dist/

# Documentation and test (not required for publishing)
docs/
test/

# README and Gruntfile (not required for publishing)
README.md
Gruntfile.js
